:global(.light) {
  --colors-components-input-background: rgba(0, 0, 0, 0.025);
  --colors-components-input-border: rgba(0, 0, 0, 0.2);
  --colors-components-input-font: var(--colors-base-black);
}

:global(.dark) {
  --colors-components-input-background: rgba(0, 0, 0, 0.1);
  --colors-components-input-border: rgba(0, 0, 0, 0.5);
  --colors-components-input-font: var(--colors-base-white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--spaces-20) 0 var(--spaces-4) 0;
  gap: var(--spaces-8);
}

.copyRight {
  display: flex;
  justify-content: center;
  gap: var(--spaces-2);
  font-size: var(--font-size-1);
  color: var(--colors-font-secondary);
  letter-spacing: 0.15rem;
  font-weight: 600;
}
