.soon {
    color: var(--colors-font-primary);
    font-size: var(--font-size-5);
    padding: var(--spaces-20) 0 var(--spaces-30);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}