.button {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  padding: 0 var(--spaces-8);
  height: var(--spaces-10);

  font-size: var(--font-size-3);

  color: var(--colors-components-button-font);

  border-radius: var(--spaces-1);

  background-color: var(--colors-components-button-background);
  border: 0.1rem solid var(--colors-components-button-border);

  cursor: pointer;

  transition: background-color 0.3s, opacity 0.3s;
  will-change: background-color, opacity;

  &:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--colors-components-button-background_hover);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .4;
  }

  &__loading {
    cursor: wait !important;
  }

  @include breakpoints.mobile { 
    font-size: var(--font-size-3);
    padding: var(--spaces-3) var(--spaces-6);
  }
}
