.item {
  font-size: var(--font-size-4);
  color: var(--colors-font-secondary);
  font-weight: 300;

  cursor: pointer;

  transition: color 0.3s, font-weight 0.3s;
  will-change: color, font-weight;

  &:hover {
    color: var(--colors-font-primary);
    font-weight: 400;
  }

  @include breakpoints.mobile {
    display: none;
  }
}
