.wrapper {
  // Development Props
  // border-left: 1px dashed red;
  // border-right: 1px dashed red;
  // border-bottom: 1px dashed red;
  // ---
  position: relative;

  margin: 0 auto;
  min-height: 100vh;
  max-width: var(--max-width-content);
}

.header {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding-top: var(--spaces-4);
}