$animation-avatar-delay: 0.3s;
$animation-menu-item-delay: $animation-avatar-delay + 0.1s;
$animation-social-media-delay: $animation-menu-item-delay + 0.3s;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  justify-content: flex-start;
  padding: var(--spaces-6) 0 var(--spaces-20);

  gap: var(--spaces-16);

  @include breakpoints.mobile {
    gap: var(--spaces-8);
    padding: var(--spaces-6) 0 var(--spaces-6);
  }
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  gap: var(--spaces-16);

  @include breakpoints.mobile {
    gap: var(--spaces-8);
  }
}

.content {}

.bottom {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  gap: var(--spaces-14);

  & figure {
    color: var(--colors-font-secondary);
  }

  @include breakpoints.mobile {
    gap: var(--spaces-8);

    & figure {
      width: var(--spaces-5);
      height: var(--spaces-5);
    }
  }
}