:global(.light) {
  --colors-components-badge-background: var(--colors-light-gray-900);
  --colors-components-badge-font: var(--colors-base-white);
}

:global(.dark) {
  --colors-components-badge-background: var(--colors-dark-gray-950);
  --colors-components-badge-font: var(--colors-base-white);
}

$animation-title-delay: 0.5s;
$animation-age-delay: $animation-title-delay + 0.1s;
$animation-subtitle-delay: $animation-age-delay + 0.01s;
$animation-technologies-delay: $animation-subtitle-delay + 0.1s;

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--colors-font-primary);

  padding-top: var(--spaces-16);
  gap: var(--spaces-1);
  text-align: center;

  h1 {
    font-size: var(--font-size-8);
    font-weight: 500;

    opacity: 0;
    transform: translateY(-100%);

    animation: slideDown 0.5s forwards;
    animation-delay: $animation-title-delay;
  }

  .age {
    font-size: var(--font-size-3);
    font-weight: 300;
    color: var(--colors-font-secondary);

    opacity: 0;
    transform: translateY(-100%);

    animation: slideDown 0.5s forwards;
    animation-delay: $animation-age-delay;
  }

  p {
    font-size: var(--font-size-5);
    font-weight: 400;
    color: var(--colors-font-secondary);

    opacity: 0;
    transform: translateY(-100%);

    animation: slideDown 0.5s forwards;
    animation-delay: $animation-subtitle-delay;
  }
}

.wrapperTechnologies {
  display: flex;
  gap: var(--spaces-4);
  align-items: center;
  justify-content: center;

  padding-top: var(--spaces-6);

  @include breakpoints.mobile {
    gap: var(--spaces-2);
    flex-wrap: wrap;
  }
}

.technology {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colors-components-badge-font);
  background-color: var(--colors-components-badge-background);
  padding: var(--spaces-1_5) var(--spaces-4);
  border-radius: var(--spaces-1);

  transform: translateX(50%);
  opacity: 0;

  animation: slideUp 0.5s forwards;
  animation-delay: $animation-technologies-delay;

  span {
    font-size: var(--font-size-1);
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  
}

.hidden {
  opacity: 1;
  transform: translateY(0);

  animation: slideOutUp 0.3s forwards;
}

@keyframes slideOutUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
